* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ff7f00;
    font-family: sans-serif;
}

h1,
h2,
.navbar-brand {
    font-family: 'Playfair Display', serif;
}

.nav-link {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.custom-dropdown {
    top: 45px;
    left: 0;
    width: 260px;
    border: none;
    padding: 10px 0;
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: all 0.35s ease;
    z-index: 999;
}

.dropdown.active .custom-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.custom-dropdown a {
    display: block;
    padding: 14px 22px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
}

.custom-dropdown a:hover {
    background-color: ivory;
    color: #FF8C00;
    padding-left: 30px;
}

.judul-resep {
    text-align: center;
    padding: 80px 10% 40px;
}

.judul-resep h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.judul-resep ol {
    color: white;
    font-size: 18px;
    max-width: 700px;
    margin: auto;
    line-height: 1.7;
}

.recipe-section {
    width: 90%;
    margin: 40px auto;
    background: #dc5902;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    gap: 50px;
    overflow: hidden;
}

.reverse {
    flex-direction: row-reverse;
}

.recipe-text {
    flex: 1;
    color: white;
}

.mini-title {
    color: #e0a800;
    font-size: 20px;
    letter-spacing: 1px;
}

.recipe-text h2 {
    font-size: 55px;
    margin: 15px 0;
    line-height: 1.2;
    color: white;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.recipe-text p {
    color: white;
    line-height: 1.8;
    margin-bottom: 30px;
    font-size: 17px;
}

.recipe-text button {
    padding: 15px 35px;
    border: none;
    border-radius: 50px;
    background: #ff6b2c;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.recipe-text button:hover {
    transform: scale(1.05);
    background: #ff824d;
}

.recipe-image {
    flex: 1;
    text-align: center;
}

.recipe-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .recipe-section,
    .reverse {
        flex-direction: column;
        text-align: center;c
    }
    .recipe-text h2 {
        font-size: 40px;
    }
    .judul-resep h1 {
        font-size: 40px;
    }
}

.btn-detail {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}